html {
    background-color: rgb(191, 223, 255);
}

.column {
  flex: 30%;
  padding: 5px;
}

.column img {
    height: auto;
    width: auto;
}

.container {
    display: flex;
    text-align: center;
    height: 200px;
}

.profileImg {
    width: 50%;
    height: auto;
}


