html {
    background-color: rgb(191, 223, 255);
}

.column {
  flex: 30%;
  padding: 5px;
}

.container {
  display: flex;
  text-align: center;
}

.img {
  width: 50%;
}

.profileImg {
    width: 25%;
}
